/* adjust typography defaults */
body {
  font-family: Varela Round, helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #001e3c;
  color: white;
  text-align: center;
}

h1 {
  font-family: Varela Round, verdana, arial, sans-serif;
}

.controlButton {
  margin-bottom: 15px;
}

button {
  padding: 10px;
  border-radius: 10px;
  border-width: thick;
  border-color: #81c784;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

.hidden {
  display: none;
}

#button1 {
  background: lightgreen;
}
#button1:active,
#button1.lit {
  background: green;
}

#button2 {
  background: lightblue;
}
#button2:active,
#button2.lit {
  background: blue;
}

#button3 {
  background: pink;
}
#button3:active,
#button3.lit {
  background: red;
}

#button4 {
  background: lightyellow;
}
#button4:active,
#button4.lit {
  background: yellow;
}

#button5 {
  background: white;
}
#button5:active,
#button5.lit {
  background: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.switches-container {
  display: flex;
  flex-direction: column;
}

.switches-container > div {
  margin-bottom: 15px;
}

span {
  font-family: Varela Round, sans-serif;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

#theme-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

#theme-container button {
  border-radius: 100%;
  border: none;
  padding: 20px;
}

#theme-container .selected-theme {
  border: 2px solid white;
}

.pink {
  background: #e57373;
}

.purple {
  background: #ab47bc;
}

.light-green {
  background: #81c784;
}

.red {
  background: #d32f2f;
}

.lavender {
  background: #C9CBFF;
}

.dark-blue {
  background: #001e3c;
}

.theme-section {
  margin-bottom: 15px;
}

.theme-section p {
  margin-bottom: 6px;
}

@keyframes beating-heart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.7);
  }
  100 {
    transform: scale(1);
  }
}

.fa-heart {
  animation-name: beating-heart;
  animation-duration: 1s;
  font-size: 36px;
  color: red;
  animation-iteration-count: infinite;
}